body {
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
}

.header {
    background-color: #584b3b;
    padding-bottom: 15px;
}

.menu {
    padding-top: 30px;
}

.menu_link {
    padding-right: 25px;
    color: #f7f3ec;
    font-size: 15px;
    float: right;
    text-decoration: none;
}

a.active_link {
    font-weight: bold;
}

.menu_logo {
    padding-left: 60px;
    color: white;
    font-size: 30px;
    padding-top: 10px;
}

@media screen and (min-width: 750px) {
  .logo {
    display: inline-block;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    margin: 0 auto;
    display: block;
  }
  .right {
    position: relative;
    display: block;
    width: 100%;
  }
}

.page_title {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 60px;
    font-size: 30px;
    font-family: "Open Sans";
}

.benefits_arrows {
    background-color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-grid;
    font-size: 20px;
    margin: 6px 15px;
    cursor: pointer;
    border-radius: 4px;
    color: gray;
}

.benefits_no {
    writing-mode: vertical-lr;
    padding-left: 60px;
    padding-right: 40px;
    font-size: 10px;
    background-color: #f7f3ec;
}

.benefits_button {
    background-color: #584b3b; /* Green */
    border-color: #f7f3ec;
    border-width: thin;
    color: #f7f3ec;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.benefits_section{
    background-color: #f7f3ec;
    border-collapse: collapse;
    height: 900px;
}

.benefits_content{
    background-color: #584b3b;
    margin-left: 0px;
    margin-bottom: 0px;
    border-collapse: collapse;

}

.benefits_text{
    color: #f7f3ec;
    margin: 0px 0px 0px 0px;

    float: left;
}

.benefits_name {
    color: #f7f3ec;
    font-size: 30px;
    float: left;
    padding-bottom: 20px;
    padding-top: 40px;
}

.benefits_picture {
    min-width: 250;
    padding-left: 150px;
    padding-top: 30px;
}

.benefits_picture > img{
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 10%;height: 600px;}
.col-2 {width: 10%;height: 600px; }
.col-3 {width: 40%;height: 600px;}
.col-4 {width: 40%;}

#abs2 {
    position: absolute;
    top: 230px;
    left: 150px;
}


.location{
    background-color: #ece2d1;
    border-collapse: collapse;
    height: 900px;
}


* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="loc-col-"] {
    float: left;
}
.loc-col-1 {width: 40%;height: 600px;}
.loc-col-2 {width: 60%;height: 600px;}

.map_section {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f7f3ec;
    height: 600px;

}

.map {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f7f3ec; 
    height: 600px;
}

.map_location {
    display: inline;
    width: 40%;
    height: 900px;
    background-color: #584b3b;
}

.map_location > img {
    height: 30px;
}

.map-buttons {
    background-color: #584b3b;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    width: 13%;
    height: 50px;
}


.landscape{
    background-color: #f7f3ec;
    border-collapse: collapse;
   /* background: url("data/vilnius.jpg"); */
    object-fit: cover;
}

.landscape >img{
    max-height: 800px;
}


.stroke-2 {
    stroke: yellow;
}

.module {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.citus_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}


* {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 7px;
    opacity: .4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots_position {
    padding: 20px;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


.imgA1 {
    position: relative;

}
.imgB1 {
	position: absolute;
}

.container_test {
    position: absolute;
    background-color: #584b3b;
    margin-left: 0px;
    margin-bottom: 0px;
    border-collapse: collapse;
}

@media (min-width: 1230px) {
    .container{width: 1200px;}
    .contacts_content {
        margin-left: 15px;
    }

}

input[type=text] {
    width: 50%;
    padding: 10px 0px;
    margin: 20px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ece2d1;
    color: white;
}


.contacts{
    background-color: #ece2d1;
    border-collapse: collapse;
    height: 900px;
}


* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="con-col-"] {
    float: left;
}
.con-col-1 {width: 40%;height: 600px;}
.con-col-2 {width: 40%;height: 600px;}
.con-col-3 {width: 10%;height: 600px;}
.con-col-4 {width: 10%;height: 600px;}

.contacts_section {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f7f3ec;
    height: 900px;


}

.contacts_content {
    background-color: #ece2d1;
    margin-left: 0px;
    margin-bottom: 0px;
    border-collapse: collapse;
    position: relative;

}


.contacts_no {
    writing-mode: vertical-lr;
    padding-left: 60px;
    padding-right: 40px;
    font-size: 10px;
    background-color: #f7f3ec;
    position: relative;

}

.form_section {
    position: absolute;
    padding: 50px;
    margin: 50px;
    background-color: #584b3b;
    width: 400px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: white;

}

form {
    position: absolute;
    padding: 50px;
    margin: 50px;
    color: white;
}
